*.pyc
*.py~
/microblog/TAGS
*.pyc
/*.pyc
/*.db
*/*.db
*/*.db
/microblog/app/templates/register.html~
/microblog/app/templates/user.html~
/microblog/app/templates/_post.html~
/microblog/app/templates/edit_profile.html~
/microblog/app/templates/404.html~
/microblog/app/templates/500.html~
/microblog/app/TAGS
/microblog/app/templates/TAGS
